# Django
SECRET_KEY=change-me-in-real-environments
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_BASE_URL=http://localhost:5173

# PostgreSQL
DATABASE_URL=postgres://caseman:caseman@127.0.0.1:5432/caseman
DATABASE_TEST_NAME=test_caseman
DATABASE_CONN_MAX_AGE=60

